.apps {
    color: 'white';
    width: fit-content;
    height: fit-content; 
    text-align: center;
    margin: 10px 20px 10px 20px;
    color: white;
    padding: 10px;
}

.apps:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
}

.icon-app {
    font-size: 36px;
    padding: 3px 4px;
    background: none;
    width: fit-content;
    border: none;
    border-radius: 12px;
    cursor: default;
}